body,
html {
    margin: 0;
    padding: 0;
}



.Main-box {
    background-image: linear-gradient(180deg, #5CA6FD 50%, rgb(255, 255, 255) 50%);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;


}

.box {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid gray;

}

.box:nth-child(1) {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.box:nth-child(2) {
    border-radius: 0 0 0 0;
    border-bottom: none;
    border-radius: 0;
}

.box:nth-child(3) {
    border-radius: 0 0 10px 10px;
}




hr {
    background-color: #0476f8;
    width: inherit;
    height: 1px;
    border: 0;
    width: 80%;
}

#plan-name {
    font-size: 20px;
    color: grey;



}

#advantages {
    font-size: 15px;
    color: #5CA6FD;
    text-align: center;

}

#price {
    font-size: 15px;
    color: #5CA6FD;
    font-weight: 700;

}

.sign-button {
    background-color: unset;
    border: 2px solid #5CA6FD;
    padding: 12px 22px;
    border-radius: 5px;
    color: #0476f8;

}

.sign-button:hover {
    background-color: #0476f8;
    color: white;
}

@media (min-width:640px) {

    .Main-box {
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
    }

    .box {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 30%;
        height: 80%;
        padding-top: 0;
        padding-bottom: 0;

    }

    .box:nth-child(1) {
        border-radius: 10px 0 0 10px;
        border-bottom: 2px solid gray;
    }

    .box:nth-child(2) {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        border-bottom: 2px solid gray;
    }

    .box:nth-child(3) {
        border-radius: 0 10px 10px 0;
    }

    .sign-button {
        padding: 15px 42px;
    }

    #plan-name {
        font-size: 25px;
        color: grey;



    }

    #advantages {
        font-size: 20px;
        color: #5CA6FD;

    }

    #price {

        font-size: 30px;
        color: #5CA6FD;
        font-weight: 700;

    }
}